@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-10rem);
    }/*Initial state*/
    80%{
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }/*Final state*/
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);
    }/*Initial state*/
    80%{
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }/*Final state*/
}

@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }/*Initial state*/
   
    100%{
        opacity: 1;
        transform: translate(0);
    }/*Final state*/
}